@font-face {
    font-family: 'Gotham-book-normal';
    src: url('../../fonts/gotham-book.woff') format('woff');
}
.liItem{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Gotham-book-normal';
}