.image-container {
  position: relative;
  width: 100%;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.image-text2 {
  padding: 10px;
  font-weight: bold;
  color: white;
  line-height: 64px;
  text-align: center;
  letter-spacing: normal;
  font-family: "Copyright Klim Type Fo-k7cTyXjE";
  font-size: 64px;
  word-wrap: break-word;
}

@media (max-width: 650px) {
  .image-text2{
   font-size: 40px;
  }
 }
 @media (max-width: 350px) {
   .image-text2{
    font-size: 24px;
   }
  }