/* Default padding for small devices */
.select{
    padding: 2rem 2rem;
    border-radius: 2px;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham Book.woff');
  }

.maintext{
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-family:'Gotham',sans-serif;
    margin: 2rem 4rem;
    text-align: left;
    letter-spacing: normal;
    color: rgb(42, 40, 40);

}

.btnLink{
    margin: 2rem 4rem;
}

/* Media query for large devices */
@media (min-width: 960px) {
    .select{
        padding: 280px 24px;
    }
}

