@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.otf') format('opentype');
}
.first-para{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gotham';
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;

}
.first-head{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Copyright Klim Type Fo-k7cTyXjE';
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;

}
.first-head-content{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gotham';
    color: rgb(165, 124, 82);
    font-weight: 400;
    font-style: normal;
}
.second-head{
    font-size: 18px;
    line-height: 32px;
    font-family: 'Copyright Klim Type Fo-k7cTyXjE';
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;
}
.second-head-content{
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham';
    color: rgb(165, 124, 82);
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    margin-left: 0.5rem;
}