
  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 100vmax;
    background-color: transparent; /* Remove background image */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em; 
    color: rgba(165, 124, 82, 0.5);
    font-weight: bold;
  }
  
  .text {
    color: rgb(165, 124, 82);
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
    /* 0% { transform: rotate(0deg); } */
    100% { transform: rotate(360deg); }
  }
  
  .box {
    animation: rotate 15s infinite;
  }
