@font-face {
    font-family: 'Gotham-book-Normal';
    src: url('../../fonts/gotham-book.woff') format('woff');
  }
.bottom-text{
    font-size: 12px;
    line-height: 16px;
    font-family: "Gotham-book-Normal";
    color: rgb(102, 102, 102);
    font-weight: 400;
    font-style: normal;
}
.bottom-navigate{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-family: 'Gotham-book-Normal';
    line-height: 14px;
}