.image {
  position: relative;
  width: 100%;
}

.image-responsive {
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

.image-text1 {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* text-align: center; */
  padding: 10px;
  font-weight: bold;
  color: white;
  line-height: 64px;
  text-align: center;
  letter-spacing: normal;
  font-family: "Copyright Klim Type Fo-k7cTyXjE";
  font-size: 64px;
  word-wrap: break-word;
}

@media (max-width: 650px) {
 .image-text1{
  font-size: 40px;
 }
}
@media (max-width: 350px) {
  .image-text1{
   font-size: 24px;
  }
 }

