/* Container styles */
.container {
  max-width: '100%';
  margin: 0 auto;
  padding: 6rem 2rem;

}

/* Title styles */
.title {
  position: relative;
  width: 528px;
  pointer-events: auto;
  cursor: inherit;
  font-size: 40px !important;
  color: rgb(165, 124, 82);

  font-family: "Copyright Klim Type Fo-k7cTyXjE" !important;
  text-align: left;
  font-weight: bold;
  line-height: 48px;
}
@font-face {
  font-family: 'Gotham-book-normal';
  src: url('../../fonts/gotham-book.woff');
}
/* Content styles */
.content {
  font-size: 16px;
  font-family: "Gotham-book-normal";
  margin-top: 1rem;
  line-height: 24px;
  letter-spacing: normal;

}

/* Right side image container */
.image-container1 {
  display: flex;
  float: right;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4rem 3rem;
}

.image-container2 {
  display: flex;
  float: right;
  flex-direction: column;
  flex-wrap: wrap;

}

.image-container3 {
  display: flex;
  float: left;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2rem;
}
@font-face {
  font-family: 'Freight-text-book';
  src: url('../../fonts/freight-text-book.woff');
}

.bottomPara {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: 'Freight-text-book';
  margin-top: 1rem;
  color: #000000;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  /* .title {
      font-size: 24px;
    } */

  .content {
    font-size: 12px;
  }
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .title {
    font-size: 32px;
    font-family: "Copyright Klim Type Fo-k7cTyXjE" !important;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 40px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .title {
    font-size: 24px;
    font-family: "Copyright Klim Type Fo-k7cTyXjE" !important;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 32px;
  }
}

.animated-line {
  position: absolute;
  height: 2px;
  background: black;
  animation: drawLine 2s linear forwards;
  left: 38.8%;
}

@keyframes drawLine {
  from {
    width: 0;
  }

  to {
    width: 11%;
  }
}